<!-- header -->
<%- include('header') %>

    <h2>
        Editar vaga:
        <a href="/admin/vagas" class="admin-links">Vagas</a>
    </h2>
    <div>
        <form method="POST">
            <label>Titulo:</label>
            <input type="text" name="title" value="<%= vacancy.title %>">
            <br>
            <label>Descrição:</label>
            <textarea name="description"><%= vacancy.description %></textarea>
            <br>
            <label>Categoria:</label>
            <select name="category">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <% if(category.id == vacancy.category) {%> selected <%} %>><%= category.category %></option>
                <% }) %>
            </select>
            <br>
            <button>Salvar vaga</button>
        </form>
    </div>

<!-- footer -->
<%- include('footer') %>