<!-- header -->
<%- include('header') %>

    <h2>
        Admin Vagas:
        <a href="/admin/vagas/nova" class="admin-links">Nova vaga</a>
    </h2>
    <div>
        <ul>
            <% vacancies.forEach(vacancy => { %>
                <li>
                    <div class="div-admin"><%- vacancy.title %> | 
                        <a href="/admin/vagas/delete/<%- vacancy.id %>" class="admin red">Excluir</a>

                        <a href="/admin/vagas/editar/<%- vacancy.id %>" class="admin green">Editar</a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>

<!-- footer -->
<%- include('footer') %>