<!-- header -->
<%- include('header') %>

<h2>Open roles:</h2>
<% categories.forEach(category => { %>
<div>
    <h3><%- category.category %></h3>
    <ul>
        <% category.vacancies.forEach(vacancy =>{ %>
            <li><a href="vaga/<%- vacancy.id %>"><%- vacancy.title %></a></li>
        <% }) %>
    </ul>
</div>
<% }) %>

<!-- footer -->
<%- include('footer') %>